// Green
// $color-complement: #22b373;
// $color-complement-dark: #198c59;

// Purple
// $color-complement: #865ba0;
// $color-complement-dark: #6b487f;

// Blue
$color-complement: #6280a2;
$color-complement-dark: #3e5977;
$color-error: #fd5e60;



@mixin header_font() {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
@mixin light_header_font() {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
@mixin transition($duration, $property: all) {
  -webkit-transition: $property $duration;
  -moz-transition: $property $duration;
  transition: $property $duration;
}
