@import 'variables';

// Disable the effect of zooming in on product images by hover
.woocommerce-product-gallery__wrapper { pointer-events: none !important; }
.woocommerce-product-gallery__trigger { display: none; }

.button {
  background-color: $color-complement !important;
}

// We are removing all additional fields, so let's hide the label
.woocommerce-additional-fields {
  display: none;
}