@import '../variables';

.course_list {
  margin: 40px 0;
  margin-bottom: 63px;

  display: flex;
  justify-content: flex-start;

  .course {
    width: 100%;
    max-width: 300px;
    position: relative;
    margin: 0 35px 0 0;
  }

  a {
    display: block;
    position: absolute;
    color: #fff;
    text-align: left;
    padding: 5px 10px;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
  }
  
  span {
    display: block;
    position: absolute;
    bottom: -43px;
    left: 0;
    padding: 5px 10px;
    background-color: $color-complement;
    width: 100%;
  }
}
