@import '../variables';

// comment
.site-title .subtitle {
  font-family: Arial;
  font-weight: 100;
  font-size: 23px;
  padding: 5px 0;
}

.main-header-bar {
  background-color: $color-complement; // for some strange reason, Divi automatically
  // gives the header a border width of 1px and a yellow
  // color on certain screen widths
  border-bottom-width: 0px !important;
  .site-title a {
    color: #fff;
  }
  .main-header-menu a {
    color: #000;
  }
  @media screen and (min-width: 921px) {
    .main-header-menu a {
      color: #fff;
    }
  } // Navigation
  .main-header-menu a {
    font-size: 18px;
    position: relative;
  }
  #primary-menu a:hover {
    color: #fff;
  }
  .widget-area a,
  .main-header-menu .sub-menu a,
  #primary-menu .sub-menu a:hover {
    color: #000;
  } // Logo
  .site-title a {
    @include header_font();
  }
  .ast-mobile-menu-buttons .menu-toggle {
    background-color: $color-complement-dark;
  }
}